<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Prato</label>
    <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Adicione um prato">
  </div>

  <div class="form-control">
    <label for="price">Preço(R$)</label>
    <input type="number" value=0 name="price" [(ngModel)]="price" id="price" placeholder="Adicione o preço do prato">
  </div>

  <div class="form-control">
    <label for="preparation">Tempo de preparo (minutos)</label>
    <input type="number" value=0 name="preparation" [(ngModel)]="preparation" id="preparation" placeholder="Preparo do prato em minutos">
  </div>

  <div class="form-control">
    <label for="ingredients">Ingredientes</label>
    <input type="text" name="ingredients" [(ngModel)]="ingredients" id="ingredients" placeholder="Adicione um prato">
  </div>

  <div class="form-control">
    <label for="category">Categoria do prato</label>
    <select name="category" [(ngModel)]="category" id="category">
      <option value="massa">Massa</option>
      <option value="sobremesa">Sobremesa</option>
      <option value="carne">Carne</option>
      <option value="salada">Salada</option>
    </select>
  </div>

  <input type="submit" value="Salvar Prato" class="btn btn-block">

</form>
